html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #1a235e;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

table.game-board {
  border-collapse: collapse;
  table-layout: fixed;
  margin: auto;
}

td.cell {
  border: 2px solid white;
  color: white;
  height: 30px;
  width: 30px;
  overflow: hidden;
}

td.cell.cell-snake {
  background-color: #26a33f;
}

td.cell.cell-apple {
  background-color: #bb1717;
}
